body {
	color: white;
	font-weight: bold;
}

#h11 {
	background: linear-gradient(#003399, #006699);
	border-bottom: 2px solid white;
}

button {
	background: #002b80;
	transition: background-color 2s;
	color: white
}

button:hover {
	background-color: #4d88ff;
}

li {
	background-color: #002b80;
}
#div-main1 {
	background: #006699;
	border-right: 2px solid white;
}

#div2 {
	height: 400px;
	overflow-y:auto;
}

#div-main2 {
	background-color: #006699;
}

#div3 {
	height: 350px;
	overflow-y:auto;
}

.hide{
	display: none;
}
.show{
	display: inline-block;
}

.hide1 {
	visibility: hidden;
}
.show1 {
	visibility: visible;
}
#div2 li span{
	cursor: pointer;
	font-size: 25px;
	color: red;
	float: right;
}

#l1 {
    transition-property: all;
    transition-duration: 0.1s;
}

/*.close-icon {
	cursor: pointer;
	font-size: 15px;
	color: red;
	float: right;
	background-color: white;
	outline: 0;
	border: 0;
	z-index: 1;
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
}*/

/*.search-box {
	position: relative;
}*/


/*.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: #FA9595;
	z-index:1;
	right: 105px;
	top: -365px;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
	box-shadow: 0 0 2px #E50F0F;
	cursor: pointer;
}*/
/*input.search-box:not(:valid) ~ button.close-icon {
	display: none;
	
}*/
