body {
	color: white;
	font-weight: bold;
}

/*header id*/
#h11 {
	background: linear-gradient(#003399, #006699);
	border-bottom: 2px solid white;
}

button {
	background: #002b80;
	transition: background-color 2s;
	color: white
}

button:hover {
	background-color: #4d88ff;
}

li {
	background-color: #002b80;
}
#div-main1 {
	background: #006699;
	border-right: 2px solid white;
}

/*add task list div*/
#div2 {
	height: 400px;
	overflow-y:auto;
}

#div-main2 {
	background-color: #006699;
}

/*completed task list div*/
#div3 {
	height: 350px;
	overflow-y:auto;
}

/*show hide classes*/

.hide{
	display: none;
}
.show{
	display: inline-block;
}

.hide1 {
	visibility: hidden;
}

.show1 {
	visibility: visible;
}

/*close button of li*/

#div2 li span{
	cursor: pointer;
	font-size: 25px;
	color: red;
	float: right;
}


/*label of textbox*/
#l1 {
    transition-property: all;
    transition-duration: 0.1s;
}

